

.ant-btn:hover {
  border-color: #c9a633 !important;
  color: #c9a633 !important;
}

/* .ant-btn:focus {
  background-color: rgb(203, 113, 126, 1)  ;
  border-color: #cb717e;
  color: #ffffff;
} */
